@import url(Variables.css);
:root{
    --FondoLetra:'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--ColorFondo);
}

body{
    display: flex;
    background-color: var(--ColorFondo);
    padding:0;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-left: 9vw;
    margin-bottom: 3vh;
    margin-top: 10vw;
    display: flex;
    width: 100%;
}

.contenedorPrincipal{
    margin-left: 6vw;
    background-color: rgb(255, 255, 255);
    width: 72vw;
    box-shadow: 2px 0px 10px rgb(134, 134, 134);
}

label{
    padding-left: 0px !important;
    user-select: none;
    font-size: 1.2vw;
}

.titleh1{
    font-size: 2.5vw;
    font-family: var(--FondoLetra);
    font-weight: 600;
    user-select: none;
    padding:1vw 0vw 1vw 0vw;
    opacity: 0.8;
    width: 100%;
    margin-left: 12vw;
}

.titleh2{
    padding:15px;
    background-color: var(--ColorTitulo);
    color: rgb(255, 255, 255);
    font-weight:700;
    font-size:1.8vw;
    user-select: none;

}   

.contenedor_login{
    background-color: rgb(255, 255, 255);
    padding: 2vw;
    padding-top: 1vw;
    width: 40vw;
    min-width: 300px;
    border-radius: 10px;
    margin-top: 15vh;
}

.contenedor_login h1{
    font-size: 2.5vw;
    font-family: var(--FondoLetra);
    font-weight: 600;
    user-select: none;
    padding:1vw 0vw 1vw 0vw;
    opacity: 0.8;
}
.secciones{
    padding: 20px 40px 40px 40px;

}

.table_default th{
    font-size: 1.2vw;
    text-align: center;
    user-select: none;

}
.table_default{
    margin-top: 30px;
}

.table_default td{
    text-align: center;
    text-justify: distribute;
    font-size: 1.1vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.navbar .form-control{
    display: inline;
    width: auto;
}

.navbar{
    margin-bottom: 20px;
}

.center-element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamano_boton{
    width: 120px;
    margin: 0;
}

.tabla-control-sistema a{
    text-decoration: none;
    margin-left: 10px;
}

.table-responsive{
    padding-bottom: 50px;
}

.is-disabled{
    background-color: rgb(238, 238, 238);
    user-select: none;
    pointer-events: none;
}

@media screen and (max-width: 800px){
	main{
		margin-left: 70px;
		margin-top: 70px;
	}
    .titleh1{
		margin-left: 120px;
	}
    .contenedorPrincipal{
        width: 62vw;
    }
}
@media screen and ((max-height: 500px)) {
    main{
        margin-top: 2vw;
    }
}