.cuadro_hijo01{
    display: grid;
    grid-template-columns:2fr 1fr;
    align-items: center;
    padding: 2vw;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: medium;
    user-select: none;
}

.cuadro_hijo01 div:last-child{
    display: grid;
    align-items:start;
}

.cuadro_hijo01 h2{
    opacity: 1;
}

.cuadro_hijo01 div:last-child{
    display: grid;
    justify-items: end;
}
.cuadro_hijo01 div:last-child img{
    width: 5vw;
    opacity: 0.2;
}

h2{
    user-select: none;
}

/*Cuadro del numero de Usuarios Registrados*/
.CuadroUsuariosRegistrados{
    background-color: rgb(195,155,211);
    border: solid 3px rgb(175,122,197);
}

/*cuadro del números de usuarios administradores registrados*/
.CuadroUsuariosAdministradores{
    background-color:  rgb(127,179,213);  
    border: solid 3px rgb(84,153,199);
}

/*cuadro del número de usuarios tecnicos registrados*/
.CuadroUsuariosTecnicos{
    background-color: rgb(241,148,138);     
    border: solid 3px rgb(236,112,99);
}

/*cuadro del número de usuarios solicitantes registrados*/
.CuadroUsuariosSolicitantes{
    background-color: rgb(240,178,122); ;
    border: solid 3px rgb(235,152,78);
}
.titleh2{
    background-color: rgb(235, 237, 239);
    margin-left:  -10px; 
    color: black;
}

a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
button{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255); 
    font-weight: 400;
}

.bloque_dashboard{
    margin-right: 2vw;
    margin-bottom: 4vh;
    box-shadow:gray 1px 2px 5px;
}

canvas{
    background-color: rgb(239, 240, 238);
    width: 5px;
    height: 5px;

}

.card-body{
    background-color: rgb(239, 240, 238);
}

.panel-pastel-purple{
    background-color: rgb(195,155,211);
    border: solid 3px rgb(175,122,197);
}

.panel-pastel-yellow{
    background-color:rgb(247,220,111);
    border: solid 3px rgb(244,208,63);
}

.panel-pastel-green{
    background-color: rgb(130,224,170); 
    border: solid 3px rgb(88,214,141);

}

.panel-paste-light_green{
    background-color: rgb(118,215,196);
    border: solid 3px rgb(72,201,176);

}

.panel-pastel-red{
    background-color: rgb(217,136,128);
    border: solid 3px rgb(205,97,85);
}

.panel-pastel-blue{
    background-color: rgb(133,193,233);
    border: solid 3px rgb(93, 173, 226);
}

.bg-light_green{
    background-color: rgb(118,215,196);
}