.cuadro_hijo01{
    display: grid;
    grid-template-columns:2fr 1fr;
    align-items: center;
    padding: 1vw;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: small;
    user-select: none;
}

.cuadro_hijo01 div:last-child{
    display: grid;
    align-items:start;
}

.cuadro_hijo01 h2{
    opacity: 1;
}

.cuadro_hijo01 div:last-child{
    display: grid;
    justify-items: end;
}
.cuadro_hijo01 div:last-child img{
    width: 5vw;
    opacity: 0.2;
}

.LineaFinal{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 400;
    width: 100%;
    padding: 0.2vw;
}

/*Estilo Actividades Registradas*/

.CuadroActividadesRegistradas{
    padding: 0;
    margin: 0;
    background-color: rgb(85, 179, 255);
    box-shadow: 2px 2px 3px rgb(117, 117, 117);
}

.CuadroActividadesRegistradas .LineaFinal{
    background-color: rgb(48, 162, 255);
}

/*Estilo Actividades Iniciadas*/
.CuadroActividadesIniciadas{
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 3px rgb(117, 117, 117);
}

/*Cuadro del numero de Usuarios Registrados*/
.CuadroUsuariosRegistrados{
    padding: 0;
    margin: 0;
    background-color: rgb(212, 105, 34);
    box-shadow: 2px 2px 3px rgb(117, 117, 117);
}

.CuadroUsuariosRegistrados .LineaFinal{
    background-color: rgb(194, 100, 37);
}

/*Estilo Actividades Suspendidas*/
.CuadroActividadesSuspendidas{
    padding: 0;
    margin: 0;
    background-color: rgb(194, 24, 24); 
    box-shadow: 2px 2px 3px rgb(117, 117, 117);
}

.CuadroActividadesSuspendidas .LineaFinal{
    background-color: rgb(173, 15, 15);
}

/*Estilo Actividades en Proceso*/
.CuadroActividadesProceso{
    padding: 0;
    margin: 0;
    background-color: rgb(207, 178, 10); 
    box-shadow: 2px 2px 3px rgb(117, 117, 117);
}

.CuadroActividadesProceso .LineaFinal{
    background-color: rgb(190, 164, 16); 
}

h2{
    user-select: none;
}

a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a{
    color: rgb(255, 255, 255); 
    font-weight: 400;
}

.bloque_dashboard{
    margin-right: 2vw;
    margin-bottom: 5vh;
}