.Imagenes-Cabecera{
   background-color: rgb(207, 207, 207);
   height: 7vh;
   padding: 7px;
   margin: 0;
}

.Imagenes-Cabecera img{
    padding: 0;
    height: 100%;
}

/*raya azul de la cabecera*/
.raya{
    margin: 0 !important;
    padding: 0;
    background-color: rgb(93, 173, 226);
    height: 7px;
}

.Parte-Inferior-Cabecera{
    background-color:#eb984e; /*var(--ColorCabecera);*/
    margin: 0;
    padding: 1px;
    width: 100%;
    padding-left: 0.1vw;
    gap: 20px;
}

.bg-Header{
    background-color:#eb984e; /*var(--ColorCabecera);*/
}

#boton_despliegue{
    width:6vh;
    height:6vh;
    color: aliceblue;
    margin-left: 10px;
}

#boton_despliegue:focus{
    transition: all 1s;
    transform: rotate(90deg);
}

.imagen_perfil{
    border-radius: 60px;
    border: 3px white solid;
    width: 40px;
    height: 40px;
}

@media screen and ((max-height: 500px)) {
    .Imagenes-Cabecera{
        height: 40px;
    }
    .Imagenes-Cabecera .img2{
        display: none;
    }
    .Parte-Inferior-Cabecera h3{
        font-size: 20px;
    }
    #boton_despliegue{
        width:35px;
        height:35px;
        float: right;
    }
    .Parte-Inferior-Cabecera .imagen_perfil img{
        width:32px;
        height:32px;
    } .raya{
        height: 3px;
    }
}

@media screen and ((max-width: 500px)) {
    .Imagenes-Cabecera .img2{
        display: none;
    }
}