@import url(Variables.css);
#menuLateral{
    background-color: rgb(255, 255, 255);
    width: 18vw;
    position: fixed;
    left: 0;
    height: 100%;
	box-shadow: 1px 1px 2px 1px #9c9c9c;
	z-index: 2;
	overflow-y: scroll;

}
/* menu */

/*item iniciales del menu*/
#menuLateral ul{
	list-style:none;
	margin: 0;
	padding: 0;

}

/* enlaces del menu */
#menuLateral ul a{
	font-size:1vw;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-weight: 600;
	color:#000000;
	opacity: 0.7;
	padding: 15px 10px 15px 10px;
}
#menuLateral ul a span{
	padding-top: 2px;
}

/* items del menu */
#menuLateral li{
	display:block;
	float: none;
	margin:0px;
	padding:0px;
	float:none;
	border-bottom:rgb(255, 255, 255) 2px solid;
}

#menuLateral ul li div{
	padding: 0;
	margin-bottom: 0px;
}

#menuLateral ul li figure{
	margin-right: 10px;
	margin-bottom: 0px;
}

.icons-menudeslizante{
	height: 20px;
	width: 20px;
	margin-bottom: 0px;
}


#menuLateral ul ul{
	display:none;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

#menuLateral ul ul a{
	width:100%;
	font-size:small;
	display:inline-block;
	padding: 12px;
}

/* efecto al pasar el ratón por los items del menu */
#menuLateral ul li:hover{
	transition: all 0.2s ease-in-out;
	background:rgb(230, 230, 230);
	border-color:var(--ColorCabecera);
}

#menuLateral ul li div:hover{
	transition: all 0.4s;
	transform: translate(10px);
}

/*desplegar elementos dentro de cada li*/
#menuLateral ul li:hover> ul{
	display:block;
}
#menuLateral ul li ul li{
	border: none;
	transform: translate(10px);
}

#menuLateral ul li ul li:hover{
	transition: all 0.4s;
	transform: translate(20px);
}
#menuLateral ul li ul li a:hover{
	text-decoration: underline;
}

#menuLateral ul ul li{
	display:block;
	width: 100%;

}

@media screen and (max-width: 800px){
	#menuLateral{
		width:160px;
	}
	#menuLateral ul a{
		font-size: 10px;
	}
}