:root{
    --FondoLetra:'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --ColorFondo:rgb(233, 238, 240);
    --ColorTitulo:rgb(245, 17, 17);
    --ColorTitulo-2:rgb(255, 136, 0);
}