:root{
    --FondoLetra:'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --ColorFondo:rgb(233, 238, 240);
    --ColorCabecera:rgb(235, 104, 28);
    --ColorTitulo:rgb(245, 17, 17);
    --ColorTitulo-2:rgb(255, 60, 0);
    
    --ColorPaleta1:rgb(255, 209, 128);
    --ColorPaleta2:rgb(239, 108, 0);
    --ColorPaleta3:rgb(230, 81, 0);
    --ColorPaleta4: rgb(218, 247, 166);
    --ColorPaleta5:rgb(255, 195, 0);
    --ColorPaleta6:rgb(255, 87, 51);
}